<tr>
    <!--name -->
    <td id="name"></td>
    <!-- size --> 
    <td id="size"></td>
    <!-- move -->
    <td id="move"></td>
    <!-- evade -->
    <td id="evade"></td>
    <!-- melee -->
    <td id="melee"></td>
    <!-- range -->
    <td id="range"></td>
    <!-- dist -->
    <td id="dist"></td>
    <!-- armor -->
    <td id="armor"></td>
    <!-- struct -->
    <!-- <td id="struct"></td> -->
    <!-- tags array -->
    <td id="tags"></td>
    <!-- total points -->
    <td id="points"></td>
</tr>