<!--Page Template - unit info card preview-->
<div class="uic-main-sm grd bg--light-gray brdr--dark-gray">
    <div class="grd-row brdr--dark-gray">
        <div class="grd-row-col-4-6 px1">
            <span id="ucName"></span>
        </div>
        <div class="grd-row-col-1-6"></div>
        <div class="grd-row-col-1-6">
            <span id="ucPoints"></span>
        </div>
    </div>
    <div class="grd-row txt--left">
        <div class="grd-row-col-6">
            <span class="px1"><b>Size</b> <label id="ucSize"></label></span>
            <span class="px1"><b>Move</b> <label id="ucMove"></label></span>
            <span class="px1"><b>Evade</b> <label id="ucEvade"></label></span>
            <span class="px1"><b>Armor</b> <label id="ucArmor"></label></span>
            <!-- <span class="px1"><b>Struct</b> <label id="ucStruc"></label></span> -->
        </div>
    </div>
    <div class="grd-row ">
        <div class="grd-row-col-6">
            <span class="px1"><b>DMG-M</b> <label id="ucMel"></label></span>
            <span class="px2"><b>DMG-R</b> <label id="ucRange"></span>
            <span class="px1"><b>Range</b></label> <label id="ucDist"></label>"</span>
        </div>
        <div class="grd-row-col-1-6"></div>
    </div>
    <div class="grd-row brdr--dark-gray">
        <div class="grd-row-col-2-6">
                <div class="grd-row">
                    <div class="grd-row-col-1-6"></div>
                    <div class="grd-row-col-2-6 txt--left">
                        <b>Keywords</b>
                    </div>
                </div>
                <div class="grd-row">
                    <div class="grd-row-col-6">
                        <ul id="ucKeywords" class="list--unstyled uic-keyword-word txt--left"></ul>
                    </div>
                </div>
        </div>
        <div class="grd-row-col-4-6  brdr--dark-gray">
            <div style="min-width:200px; min-height:250px;"></div>
        </div>
    </div>
</div>