<!--Page Template - unit info card preview-->
<div class="uic-main-sm">
    <div class="uic-header-row-sm">
        <div class="uic-name-sm" id="ucName"></div>
        <div class="uic-points-sm" id="ucPoints"></div>
    </div>
    <div class="uic-stat-row-label-sm">
        <div class="uic-stat-row-icon-sm"><label id="ucSize"></label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucMove"></label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucEvade"></label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucArmor"></label></div>
        <!-- <div class="uic-stat-row-icon-sm"><label id="ucStruc"></label></div> -->
    </div>
    <div class="uic-stat-attack-row-sm">
        <div class="uic-stat-row-icon-sm"><label id="ucMel"></label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucRange"></label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucDist"></label></div>
    </div>
    <div class="uic-tag-row-sm"></div>
    <div class="uic-tag-row-sm">
        <ul id="ucKeywords" class="list--unstyled uic-keyword-word-sm txt--left"></ul>
    </div>
</div>