<tr>
    <td><label id="name"></label></td>
    <td><label id="size"></label></td>
    <td><label id="move"></label></td>
    <td><label id="evade"></label></td>
    <td><label id="melee"></label></td>
    <td><label id="range"></label></td>
    <td><label id="dist"></label></td>
    <td><label id="armor"></label></td>
    <!-- <td><label id="struct"></label></td> -->
    <td><div id="tagDiv"></div><label id="tags" hidden></label><label id="tagTotal" hidden></label></td>
    <td><label id="total"></label><label id="points" hidden></label></td>
    <td><button type="button" title="Remove" class="btn btn--red ui-icon-white"><span class="ui-icon ui-icon-trash"></span></button></td>
</tr>