<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>LANDWAR GDK v0.4.0</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../../../../../node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="../../../../../node_modules/furtive/css/furtive.min.css" />
    <link rel="stylesheet" href="../../../../css/styles.css"/>
    <link rel="stylesheet" href="../../../../css/pages/rulebook/rulebook.css"/>
</head>
<body>
    <div class="grd">
        <div class="grd-row">
            <div class="grd-row-col-6--sm grd-row-col-6--md grd-row-col-5--lg txt--center">
                <div id="fileName"><h3>Army Tag List</h3></div>
            </div>
        </div>
    </div>
    <div id="tagListRows" class="grd txt--left">

    </div>
</body>
<script type="text/javascript" src="../../../../js/util/dialogs.js"></script>
<script type="text/javascript" src="../../../../js/data/tagInfo.js"></script>
<script type="text/javascript" src="../../../../js/pages/tagLib.js"></script>
<script type="text/javascript" src="../../../../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../../../js/pages/armyBuilder/rendererArmyTagList.js"></script>
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded',function(){});
</script>
</html>