<tr>
    <td><input type="checkbox" /></td>
    <td><input type="text"/></td>
    <td><input type="number" maxlength="4" min="0"/></td>
    <td><input type="number" maxlength="4" min="0"/></td>
    <td><input type="number" maxlength="4" min="0" max="3"/></td>
    <td><input type="number" maxlength="4" min="0"/></td>
    <td><input type="number" maxlength="4" min="0"/></td>
    <td><input type="number" maxlength="4" min="0"/></td>
    <td><input type="number" maxlength="4" min="0"/></td>
    <!-- <td><input type="number" maxlength="6" min="0"/></td> -->
    <td><label></label></td>
    <td><button type="button" class="btn ui-icon-grey"><span class="ui-icon ui-icon-wrench"></span></button><input type="hidden" /></td>
    <td><label></label></td>
    <td><label></label></td>
</tr>