<div class="grd-row-col-6 txt--center">
	<div class="grd" hidden=true>
	    <div class="grd-row">
	        <div class="grd-row-col-3--sm grd-row-col-2--md grd-row-col-1--lg txt-center" >
	            <h2>Rulebooks and Info</h2>
	        </div>
	    </div>
	    <div class="grd-row">
	        <div class="grd-row-col-3--sm grd-row-col-2--md grd-row-col-1--lg txt-center" >
	            <h3>Getting Started</h3>
	            <p>First-time players should use any of the <i>BEGINNER</i> unit cards and unit lists supplied with this application. These units do not use the more advanced <i>TAG</i> rules but are there to get you playing quickly.</p>
	            <p>After a few games with <i>BEGINNER</i> units, we recommend trying the <i>INTERMEDIATE</i> units; these stats offer 1-2 <i>TAGS</i> per unit to give them some character but keep things easy to remember.</p>
	            <p>Finally, when you feel ready, <i>ADVANCED</i> is using <i>LANDWAR</i> to its full potential. Each unit has several or many <i>TAGS</i> to make them play in very unique ways.</p>
	        </div>
	    </div>
	    <div class="grd-row">
	        <div class="grd-row-col-3--sm grd-row-col-2--md grd-row-col-1-lg" >
	            <p>The minimum rules you will need to play <i>LANDWAR</i> is the <b>Core Rulebook, Quickplay Sheet, </b>and<b> Token Sheet.</b></p>
	            <p>Same goes for <b>Scenarios</b>, this are just author suggested ways to setup battles between players, and covers more advanced rules like <i>Objectives</i>, and more detailed win-conditions.</p>
	        </div>
	        <div class="grd-row-col-3--sm grd-row-col-2--md grd-row-col-1--lg">
	            <p>These are extra funsies that add more layers to the core experience of <i>LANDWARD</i>, they are completely optional and highly situational.</p>
	        </div>
	    </div>
	
	    <div class="grd-row">
	        <div class="grd-row-col-1-6-md grd-row-col-1-6--lg"></div>
	        <div class="grd-row-col-3-6--sm grd-row-col-2-6--md grd-row-col-2-6--lg ">
	            <table class="rulePanel txt--center">
	                <tr><th><h4>Core Rules</h4></th></tr>
	                <tr><td>
	                    <button id="btnCoreRules" type="text" class="btn--blue">Core Rulebook</button>
	                    <button id="btnCoreRulesSave" type="button" class="btn ui-icon-grey" >
	                        <span class="ui-icon ui-icon-arrowthickstop-1-s"></span>
	                    </button>
	                </td></tr>
	                
	                <tr><td>
	                    <button type="button" id="btnCoreQuick" class="btn--blue">Quickplay Sheet</button>
	                    <button id="btnCoreQuickplaySave" type="button" class="btn ui-icon-grey">
	                        <span class="ui-icon ui-icon-arrowthickstop-1-s"></span>
	                    </button>
	                </td></tr>
	                
	                <tr><td>
	                    <button type="button" id="btnCoreScenarios" class="btn--green">Scenarios</button>
	                    <button id="btnCoreScenariosSave" type="button" class="btn ui-icon-grey">
	                        <span class="ui-icon ui-icon-arrowthickstop-1-s"></span>
	                    </button>
	                </td></tr>
	                
	                <tr><td>
	                    <label><b>Token Sheet</b></label>
	                    <p>see <i>tokens.pdf</i> external file.</p>
	                </td></tr>
	                
	            </table>
	        </div>
	
	        <div class="grd-row-col-1--md"></div>
	        <div class="grd-row-col-3-6--sm grd-row-col-2-6--md grd-row-col-2-6--lg">
	            <table class="rulePanel txt--center">
	               <tr><th class="txt--center"><h4>Addons and Modules</h4></th></tr>
	               <tr><td><i>to be determined.</i></td></tr>
	                <tr><td>
	                    <button id="btnCoreUnitCostSave" type="button" class="btn--red" >Unit Base Costs</button>
	                </td></tr>
	                
	                <!-- <tr><td>
	                    <button type="button" class="btn--red">Spells and Magic</button>
	                </td></tr>
	                <tr><td>
	                    <button type="button" class="btn--red">RPG</button>
	                </td></tr>-->
	            </table> 
	        </div> 
	    </div>
	</div>
</div>
