/*
    Unit card Print - small / preview scale
*/
.uic-main{
    min-width: 750px;
    max-width: 750px;
    width: 750px;

    min-height: 1050px;
    max-height: 1050px;
    height: 1050px;
}

.uic-display-hold{
	display: inline-block;
	position: absolute;
	max-width: 99%;
	min-width: 99%;
	width: 99%;
	
	max-height: 99%;
	min-height: 99%;
	height: 99%;
	
	float:left;
}

.uic-card-table{
    width: 100%;
}

.uic-keyword-word{
    font-size: small;
    font-weight: 500;
    line-height: 24px;
    padding-inline-start: 20px;
}

.uic-keyword-word-sm{
    position: inherit;
    font-size: xx-small;
    font-weight: 500;
    line-height: 12px;
    padding-inline-start: 10px;
}

.uic-main-sm{
    min-width: 315px;
    max-width: 315px;
    width: 315px;

    min-height: 225px;
    max-height: 225px;
    height: 225px;

    background-image: url("../img/unitcard_work_r2.png");
    background-repeat: no-repeat;
    background-size: contain;
    break-inside: avoid;
    float:left;
}

.uic-main-sm > div{
    float: left;
}

.uic-header-row-sm{
    position: relative;
    top: 0.5%;
    left: 1%;
    
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 30%;
    max-height: 30%;
    height: 30%;
    float: left;
}

.uic-info-panel-sm{
    position: relative;
    
    min-width: 85%;
    max-width: 85%;
    width: 85%;

    min-height: 99%;
    max-height: 99%;
    height: 99%;
    
    float: left;
}

.uic-stat-row-sm{
    position: relative;
    float: left;
    left: 1%;
    top: 30%;
   	
    font-size: 1em;
    min-width: 99%;
    max-width: 99%;
    width: 99%;
    min-height: 70%;
    max-height: 70%;
    height: 70%;
}

.uic-stat-row-label-sm{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 29%;
    min-width: 15%;
    max-width: 15%;
    width: 15%;
}

.uic-stat-row-fill-sm{
    position: relative;
    display: inline-block;
    top: 29%;
    min-width: 5%;
    max-width: 5%;
    width: 5%;
}

.uic-atk-tag-row-sm{
    position: relative;
    top: 0.5%;
    left: 1%;
    
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 70%;
    max-height: 70%;
    height: 70%;
    float: left;
}

.uic-attack-panel-sm{
    position: relative;
    float: left;
    left: 1%;
    
    min-width: 40%;
    max-width: 40%;
    width: 40%;

    min-height: 28%;
    max-height: 28%;
    height: 28%;
    
}

.uic-atk-row-fill-sm{
    position: relative;
    display: inline-block;
    top: 29%;
    min-width: 3%;
    max-width: 3%;
    width: 3%;
}

.uic-atk-row-fill-sm-mid{
    position: relative;
    display: inline-block;
    top: 29%;
    min-width: 16%;
    max-width: 16%;
    width: 16%;
}

.uic-tag-panel-sm{
    position: relative;
    top: 2%;
    left: 2.5%;
    float: left;
       
    min-width: 54%;
    max-width: 54%;
    width: 54%;

    min-height: 99%;
    max-height: 99%;
    height: 99%;
}



.uic-tag-row-sm > ul{
    line-height: 1.1;
}
.uic-tag-row-sm > ul > li{
    font-size: 1.2em;
    font-style: italic;
}



.uic-name-sm{
    position: absolute;
    left: 1%;
    text-align: left;
    font-size: 1em;
    min-width: 99%;
    max-width: 99%;
    width: 99%;
    min-height: 30%;
    max-height: 30%;
    height: 30%;
    float: left;
}



.uic-points-sm{
    position: absolute;
    left: 85%;
    top: 15%;
    min-width: 15%;
    max-width: 15%;
    width: 15%;
    
    text-align: center;
}

.uic-points-sm > label{
    font-size: 0.75em;
    font-weight: 800;
}


.uic-stat-row-icon-sm{
    position: inherit;
    top: 12%;
    min-width: 20%;
    max-width: 20%;
    width: 20%;

    font-size: 1em;
    text-align: center;
    float:left;
}

.uic-stat-row-icon-sm > label{
    position: inherit;
    top: -2%;
}
