<table id="unitRowTmplt" hidden="true" >
	<tbody>
		<tr>
		    <td><input type="checkbox" /></td>
		    <td><input type="text"/></td>
		    <td><input type="number" maxlength="4" min="0"/></td>
		    <td><input type="number" maxlength="4" min="0"/></td>
		    <td><input type="number" maxlength="4" min="0" max="3"/></td>
		    <td><input type="number" maxlength="4" min="0"/></td>
		    <td><input type="number" maxlength="4" min="0"/></td>
		    <td><input type="number" maxlength="4" min="0"/></td>
		    <td><input type="number" maxlength="4" min="0"/></td>
		    <!-- <td><input type="number" maxlength="6" min="0"/></td> -->
		    <td><label></label></td>
		    <td><button id="btnTags" type="button" class="btn ui-icon-grey"><i  class="ui-icon ui-icon-tag"></i></button><input type="hidden" /></td>
		    <td><label></label></td>
		    <td><label></label></td>
		    <td hidden="true"><label></label></td>
		</tr>
	</tbody>
</table>
