<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    
    <title th:text="${version}">LANDWAR NET</title>
    <link rel="stylesheet" th:href="@{/dist/jquery-ui/base/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/furtive/css/furtive.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery_ui_ext/jquery-ui_ext.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/> 
</head>
<body>
    <div class="grd">
        <div class="grd-row txt--center">
            <div class="grd-row-col-4--sm grd-row-col-4--md grd-row-col-5-lg offset-s-1 offset-1 txt--center">
               <div id="fileName"><h3>Unit Builder - Worksheet</h3><input type="text" /></div>
            </div>
        </div>
        <div class="grd-row" >
            <div  id="tagModal" class="grd-row-col-6--sm grd-row-col-6--md grd-row-col-6--lg" hidden>
				<div class="grd" id="tagWindow" hidden="true">
				    <input type="hidden" id="tagWindow_rowId" />
				    <input type="hidden" id="tagWindow_tagBuffer" />
				    <div class="grd-row">
				        <div class="grd-row-col-2-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg">
				            <h4>TAG Options</h4>
				        </div>
				        <div class="grd-row-col-4-6--sm grd-row-col-4-6--md grd-row-col-4-6--lg"></div>
				        <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg txt--right">
				            <button id="tagWindowSave" type="button" class="btn--green ui-icon-white"><span class="ui-icon ui-icon-check"></span></button>
				            <button id="tagWindowClose" type="button" class="btn--red ui-icon-white"><span class="ui-icon ui-icon-close"></span></button>
				        </div>
				    </div>
				    <div class="grd-row">
				        <div id="tagRulesListPanel" class="grd-row-col-2-6--sm grd-row-col-2-6--md grd-row-col-2-6--lg">
				            <div class="grd">
				                <div class="grd-row">
				                    <div class="grd-row-col-5--sm grd-row-col-5--md grd-row-col-6--lg tagRulesListDiv ">
				                        <table id="tagRulesListData">
				                            <thead>
				                                <tr>
				                                    <th>Name</th>
				                                    <th>Active</th>
				                                    <th>Cost</th>
				                                </tr>
				                            </thead>
				                            <tbody>
				                            </tbody>
				                        </table>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div  class="grd-row-col-4-6--sm grd-row-col-4-6--md grd-row-col-4-6--lg">
				            <div class="grd">
				                <div id="tagRulesDescPanel" class="grd-row">
				                    <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg">
				                        <b>Unit Base: </b><label id="tagWindow_baseCost">0</label>
				                    </div>
				                    <!--<div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg"></div>-->
				                    <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg">
				                        <b>TAG Total: </b><label id="tagWindow_tagCost">0</label>
				                    </div>
				                    <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg"></div>
				                    <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6--lg">
				                        <b>Complete Total: </b><label id="tagWindow_totalCost">0</label>
				                    </div>
				                </div>
				                <div id="tagRulesDescPanel">
				                    <div class="grd-row">
				                        <div id="tagWindow_descTitle" class="grd-row-col-5--sm grd-row-col-5--md grd-row-col-5--lg"></div>
				                    </div>
				                    <div class="grd-row">
				                        <div id="tagWindow_descWarn" class="grd-row-col-5--sm grd-row-col-5--md grd-row-col-5--lg"></div>
				                    </div>
				                    <div class="grd-row">
				                        <div id="tagWindow_descText" class="grd-row-col-5--sm grd-row-col-5--md grd-row-col-5--lg"></div>
				                    </div>
				                    <div class="grd-row row-fill-s row-fill row-fill-l"></div>
				                    <div class="grd-row">
				                        <div class="grd-row-col-4--sm grd-row-col-4--md grd-row-col-5--lg">
				                            <b>Cost Equation : </b><label id="tagWindow_equation"></label>
				                        </div>
				                    </div>
				                    <div class="grd-row row-fill-s row-fill row-fill-l"></div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				
            </div>
        </div>
        
        <div class="grd-row">
            <div class="grd-row-col-4">
                <p style="color: red;">Warning: auto-save does not work at this time!</p>
                <p>For information on stats, please consult the <b>Core Rulebook</b></p>
            </div>
        </div>

       <!-- <span class="tooltiptext">Tooltip text</span> -->


        <div class="grd-row">
            <div class="grd-row-col-4-6--sm grd-row-col-3-6--md grd-row-col-3-6--lg">
                <button type="button" title="Select All rows" onclick="ub_control_select_all(true);" class="btn--blue ui-icon-white"><span class="ui-icon ui-icon-check"></span></button>
                <button type="button" title="Deselect All rows" onclick="ub_control_select_all(false);" class="btn ui-icon-grey"><span class="ui-icon ui-icon-squaresmall-minus"></span></button>
                <button type="button" title="Delete Selected rows" onclick="ub_control_delete_select();" class="btn--red ui-icon-white"><span class="ui-icon ui-icon-trash"></span></button>
                <button type="button" title="Save Selected rows" onclick="ub_control_save_select(event)" class="btn--green ui-icon-white"><span class="ui-icon ui-icon-disk"></span></button>
                <button type="button" title="Load .csv file" onclick="ub_control_loadfile(event)" class="btn--green ui-icon-white"><span class="ui-icon ui-icon-folder-open"></span></button>
                <button type="button" title="Print Selected to PDF" onclick="ub_control_new_print(event)" class="btn--green ui-icon-white"><span class="ui-icon ui-icon-print"></span></button>
                <button type="button" title="Select All rows" onclick="ub_control_help(event)" class="btn--blue ui-icon-white"><span class="ui-icon ui-icon-help"></span></button>
            </div>
            <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-2-6--lg"></div>
            <div class="grd-row-col-1-6--sm grd-row-col-1-6--md grd-row-col-1-6-lg">
                <button id="ubWorkSheetClose" type="button" title="Close, no auto-save!" class=" btn--red ui-icon-white"><span class="ui-icon ui-icon-close"></span></button>
            </div>
        </div>
        
        <div class="row-fill-s row-fill row-fill-l"></div>
    
	    
	    
    
        <div class="grd-row">
            <div class="grd-row-col-6--sm grd-row-col-6--md grd-row-col-6--lg">
                <table id="unitTable">
                    <tr class="unitTableHead">
                        <th>Select</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Move</th>
                        <th>Evade</th>
                        <th>DMG Melee </th>
                        <th>DMG Range</th>
                        <th>Range</th>
                        <th>Armor</th>
                        <!-- <th>Structure</th> -->
                        <th>Points</th>
                        <th>TAGs</th>
                        <th>TAG total</th>
                        <th>TOTAL</th>
                    </tr>
                </table>
            </div>
        </div>  
        <div class="grd-row">
            <div class="grd-row-col-2--sm grd-row-col-2--md grd-row-col-1--lg  ">
                <button type="button" id="btnAddUnit" title="Add row to bottom" class="btn btn--green ui-icon-white"><span class="ui-icon ui-icon-plusthick"></span></button>
                <button type="button" id="btnRemoveUnit" title="Delete LAST row" class="btn btn--red ui-icon-white"><span class="ui-icon ui-icon-minusthick"></span></button>
                <button type="button" id="btnCopyUnit" title="Copy LAST row" class="btn btn--blue ui-icon-white"><span class="ui-icon ui-icon-copy"></span></button>
            </div>
        </div>  
        <div class="row-fill-s row-fill row-fill-l"></div>
        <div class="grd-row">
			<table id="unitRowTmplt" hidden="true" >
				<tbody>
					<tr>
					    <td><input type="checkbox" /></td>
					    <td><input type="text"/></td>
					    <td><input type="number" maxlength="4" min="0"/></td>
					    <td><input type="number" maxlength="4" min="0"/></td>
					    <td><input type="number" maxlength="4" min="0" max="3"/></td>
					    <td><input type="number" maxlength="4" min="0"/></td>
					    <td><input type="number" maxlength="4" min="0"/></td>
					    <td><input type="number" maxlength="4" min="0"/></td>
					    <td><input type="number" maxlength="4" min="0"/></td>
					    <!-- <td><input type="number" maxlength="6" min="0"/></td> -->
					    <td><label></label></td>
					    <td><button id="btnTags" type="button" class="btn ui-icon-grey"><i  class="ui-icon ui-icon-tag"></i></button><input type="hidden" /></td>
					    <td><label></label></td>
					    <td><label></label></td>
					    <td hidden="true"><label></label></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</body>
<!-- <script type="text/javascript" src="../../../../../node_modules/jquery/dist/jquery.min.js"></script> --> 

<script type="text/javascript" th:src="@{/js/lw/util/unitCalculator.js}"></script>
<script type="text/javascript" th:src="@{/js/lw/util/fileHandler.js}"></script>
<script type="text/javascript" th:src="@{/js/lw/data/tagInfo.js}"></script>
<script type="text/javascript" th:src="@{/js/lw/pages/unitBuilder/unitBuildSheet.js}"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function(){

        initializeSortedTagList();
        
        for(let tag in sortedTags){
			
			let tagObj = sortedTags[tag];
			
			if(tagObj == undefined){
				continue;
			}
			
			let tagRuleRow = doc.querySelector("#tagRulesListData>tbody").insertRow();
			tagRuleRow.innerHTML = "<td id='tagName'></td><td class='txt--center'><input id='tagCheck' type='checkbox'/><input id='tagId' type='hidden'/></td><td class='txt--center'><label></label></td>";
			
			tagRuleRow.classList.add('tagRuleLineActive');
			
	        //set title and rollover for tag label.
	        tagRuleRow.querySelector("#tagName").innerHTML = tagObj.title;
	        tagRuleRow.querySelector("#tagName").classList.add('tagRuleLineHover');
	        tagRuleRow.querySelector("#tagName").addEventListener('click', ()=>{ub_tagModal_tagRow_clickInfo(tagRuleRow);});
	
	        //set tag checkbox callback
	        tagRuleRow.querySelector("#tagCheck").addEventListener('click', ()=>{ub_tagModal_tagRow_check(tagRuleRow);});
	
	        //set tag id related to tagInfo[x]
	        tagRuleRow.querySelector("#tagId").value = tagObj.id;
		}
        
        
        document.querySelector('#btnAddUnit').addEventListener('click', ()=>{
            ub_row_add();
        });
    
        document.querySelector('#btnRemoveUnit').addEventListener('click', () => {
            ub_row_remove();
        });

        document.querySelector('#btnCopyUnit').addEventListener('click', () => {
            ub_row_copy();
        });

        document.querySelector('#ubWorkSheetClose').addEventListener('click', (event) =>{
            ub_sheet_close_window(event);
        });
        
        document.querySelector('#tagWindowSave').addEventListener('click', () =>{
        	ub_tagModal_close(true);
        });
        
        document.querySelector('#tagWindowClose').addEventListener('click', () =>{
        	ub_tagModal_close(false);
        });
        
        
    });
</script>
</html>

