<div class="grd navbar">
    <div class="grd-row">
        <div class="grd-row-col-4-6">
            <button id="navHome" type="button" class="btn" style="font-weight: 400px; background-color: #ffffff;" >Home</button>
            <button id="navRulebooks" type="button" class="btn" style="font-weight: 400px; background-color: #ffffff;">Core Rules</button>
            <button id="navTagRules" type="button" class="btn" style="font-weight: 400px; background-color: #ffffff;">Tag Rules</button>
            <button id="navUnitBuild" type="button" class="btn" style="font-weight: 400px; background-color: #ffffff;">Unit Editor</button>
            <button id="navArmyList" type="button" class="btn" style="font-weight: 400px; background-color: #ffffff;">Army List</button>
            <button id="navCardGen" type="button" class="btn" style="font-weight: 400px; background-color: #ffffff;">Unit Card Gen</button>
        </div>
        <div class="grd-row-col-1-6"></div>
        <div class="grd-row-col-1-6">
            <button id="navExit" type="button" class=" btn--red ui-icon-white "><span class="ui-icon ui-icon-close txt--right"></span></button>
        </div>
    </div>
</div>
<div class="row-fill row-fill-s row-fill-l"></div>